/* global Styles */
*:not(hr) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  :root {
    --primary-color: #007aff;
    --light-font-color: #808080;
    --bg-color: #fafafa;
    --dark-font-color: #1a1a1a;
    --head-font-color: #111111;
    --error-color:#FF4D4D;
    --good-color:#4CD964;
    --yellow-color:#FF9A02;
    --cols:4;
}
.container{
    width: clamp(320px,90dvw,100%);
    margin: 0 auto;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins";
  }
  body.dark {
    --bg-color: #1a1a1a !important;
    --dark-font-color: #fafafa !important;
    --head-font-color: #f5f5f5 !important;
    background-color: var(--bg-color);
  }
  img{
    width: 100%;
  }
  ul{
    list-style: none;
  }
  /* home page */
  .home{
    min-height: 120dvh;
    margin-top: 40px;
    .link:hover{
      cursor: pointer;
    }
    .link{
      transition: 0.4s;
      text-decoration: none;
      &:active{
        transform: scale(0.9);
      }
    }
  }
  .home-section{
    min-height: 100dvh;
    width: 100%;
    background: url(../assets/images/home-layer.png);
    background-size: 80% calc(100% - 20px);
    /* background: radial-gradient(120.54% 152.79% at 103.02% -2.02%, #79B2F3 0%, #4594EF 100%); */
    background-repeat: no-repeat;
    background-position: 135% 20px;
  }
  .home-section .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .home-section  .container section{
    width: 100%;
    height: 100%;
    display: flex;
    padding:10px 0px;
    margin-top: 80px;
  }
  .home-section .container .sec-1{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .home .home-section .container .sec-1 .discover{
    background-color: #007b9fdd;
    color: white;
    line-height: 24px;
    font-weight: bold;
    font-size: clamp(0.9rem,1.2dvw,1.2rem);
    padding: 12px 24px;
    border-radius: 16px;
  }
  .home .container .sec-1 .title{
      overflow-wrap: break-word;
      font-size: clamp(2rem,3dvw,4rem);
      &::first-line{
          color: var(--primary-color);
      }
  }
  .home .container .sec-1 .btns{
    width: 100%;
    display: flex;
    gap: 2dvw;
    .link{
        background-color: #fff;
        font-size: clamp(0.7rem,1dvw,0.9rem);
        color: var(--primary-color);
        border: 2px solid;
        padding: 15px 40px 15px 20px;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        border-radius: 20px;
        font-weight: bold;
    }
  }
  .home .container .sec-1 .btns .identify{
    background-color: var(--primary-color);
    color: white;
    border: none;
    .icon{
      color: #fff;
    }
    
  }
  .home .container .sec-1 .btns .link .icon{
    font-size: clamp(1rem,1.5dvw,1.3rem);
    position: absolute;
    right: 6%;
  }
  .home .container .sec-1 .message{
    font-size: clamp(0.8rem,2dvw,1rem);
    line-height: 1.1;
    width: 90%;
    margin-top: -25px;
  }
  .home .home-section .container .sec-2{
    margin-top: 50px;
    justify-content: start;
    align-items: start;
  }
  .home .container .sec-2 .images{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .home .container .sec-2 .images img {
    width: clamp(300px , 35dvw,80%);
  }
  /* about us */
  .about-us{
    margin: 20px auto;
    min-height: 95dvh;
  }
  .about-us .container{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    gap: 5dvw;
  }
  .about-us .container .sec-1 .image{
    width: clamp(280px,90%,100dvw);
    height: 100%;
  }
  .about-us .container .sec2{
    margin-left: 2px;
    width: 100%;
    height: 80%;
    padding: 20px;
  }
  .about-us .container .sec2 .content{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    width: 80%;
    overflow-wrap: break-word;
    line-height: 1.2;
  }
  .about-us .container .sec2 .content .title{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: var(--primary-color);
  }
  .about-us .container .sec2 .content h2{
    font-size: clamp(1.5rem,3dvw,2rem);
  }
  .about-us .container .sec2 .content .description{
    font-size: clamp(0.9rem,1.2dvw,1.1rem);
    font-weight: 600;
  }
  .about-us .container .sec2 .content h3{
    font-size: clamp(1.1rem,2dvw,1.6rem);
    
  }
  .about-us .container .sec2 .content .learn{
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    padding:15px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s;
    white-space: nowrap;
    width: min(200px,90%);
    &:hover{
      box-shadow: 0 0 20px 3px var(--primary-color);
    }
    i{
      transform: rotate(90deg);
    }
  }
  /* iidintify */
  .idintify{
    width: 100%;
    min-height: 100dvh;
  }
.idintify .container{
  display: flex;
  flex-direction: column;
  gap: 5dvh;
  width: 100%;
}
.idintify .container  .sec-1{
  width: 90dvw;
  margin: 0 auto;
}
.idintify .container .testimonials{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 5dvw;
  align-items: stretch;
  justify-items: center;
}
.idintify .container .testimonials .card{
  padding:20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px;
}
.idintify .container .testimonials .card .title{
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
}
.idintify .container .testimonials .card .description{
  font-size: 1.1rem;
  text-align: center;
}
.idintify .container .sec-2{
  width: 100% ;
  background: linear-gradient(180deg, #5FA4F1 38.7%, #007AFF 78.04%);
  min-height: 400px;
  padding:50px 20px 20px;
}
.idintify .container .sec-2 .content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.idintify .container .sec-2 .content .title{
  color: white;
  width: 90%;
  text-align: center;
  font-size:  clamp(1.2rem,3dvw,2.5rem);
  font-weight: 400;
}
.idintify .container .sec-2 .content .description{
  color: white;
  width:max(60%,600px);
  font-weight: 400;
  text-align: center;
  font-size:  clamp(0.8rem,3dvw,1rem);
  font-weight: 400;
}
.idintify .container .sec-2 .content .search{
  position: relative;
  width: 75%;
  background-color: white;
  border-radius: 16px;
  max-height: 90px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 10px;
  padding: 20px;
  img{
    width: 50px;
    grid-column: 10/11;
  }
}
.idintify .container .sec-2 .content .search .suggetions{
  position: absolute;
  width: 100%;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--dark-font-color);
  border:1px solid ;
  top: calc(100% + 1px);
  display: none;
  flex-direction: column;
  border-radius: 20px;
  z-index: 999;
}
.idintify .container .sec-2 .content .search .suggetions.show{
  display: flex;
}
.idintify .container .sec-2 .content .search .suggetions li{
  min-height: 30px;
  padding: 10px 20px;
  transition: 0.2s;
  &:hover{
    background-color: var(--primary-color);
    color: white;

  }
}
.idintify .container .sec-2 .content .search .search-input{
  grid-column: 1/9;
  min-height: 45px;
  font-size: 20px;
  padding: 0 20px;
}
.idintify .container .sec-2 .content .search .search-btn{
  padding: 10px 20px;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 16px;
  grid-column: 11/13;
}
/* team */
.team{
  margin: 10px auto;
  position: relative;
}
.team .pointer{
  background-color: var(--primary-color);
  position: absolute;
  right:  0;
  top: 0px;
  width: 100px;
  aspect-ratio: 1/1;
  clip-path: polygon(0% 50%, 100% 100%, 100% 0);
}
.team .container{
  width: 100%;
}
.team .container .sec-title{
  min-height: 300px;

  width: 80dvw;
  margin: 0 auto;
  margin-top: 60px;

}
.team .container .sec-title .title{
  text-align: center;
  font-weight: 600;
  font-size: clamp(2rem,3dvw,2.5rem);
}
.team .container .sec-title .description{
  margin: 10px auto;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  width: 80%;
  font-size: clamp(0.8rem,2dvw,1.2rem);
}
.team .container .sec-mission{
  min-height: 450px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.team .container .sec-mission .back-lay{
  width: 70%;
  min-height:350px ;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 0 10px 1px ;
  .description{
    width: 70%;
    text-align: center;
    height: 100%;
    font-size: clamp(1.6rem,2.5dvw,2rem);
    font-weight: 400;
  }
}
.team .container .sec-mission .back-lay::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #007aff;
  z-index: -1;
  right: 20px;
  top: 20px;
  border-radius: 40px;
}

 @media (min-width:1024px) {
  
   .team .container .sec-team .team-members .scrolling .card{
     --color:#111;
     width: 300px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     color: var(--color);
     .image{
       width: 65%;
    max-height: 150px;
    border: 3px solid;
    border-radius: 30px;
    overflow: hidden;
    img{
      transition: 0.5s;
      width: 100%;
      height: 100%;
      &:hover{
        transform: scale(1.1) rotate(5deg);
      }
    }
  }
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #ebebeb;
    z-index: -1;
    bottom: -10%;
    border-radius: 30px;
  }
}
.team .container .sec-team .team-members.side-scrolling-container{
  overflow: hidden;
  /* width: clamp(320px, 90dvw,100%); */
  margin: 20px auto;
  padding: 10px;
  /* box-shadow: 0 0 5px 2px #fff4; */
  border-radius: 20px;
  position: relative;
  height: 440px;
  -webkit-mask-image: linear-gradient(to right,
  #fff1 ,
  #ffff 10%,
  #ffff 90%,
  #fff1
  );
  mask-image: linear-gradient(to right,
  #fff1 ,
  #ffff 10%,
  #ffff 90%,
  #fff1
  );
  &:hover .scrolling{
    animation-play-state: paused;
  }
}
.team .container .sec-team .team-members.side-scrolling-container  .scrolling{
  left: max(calc(300px * 5),100%);
  width: 300px; 
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* animation for inifinite side scrolling */
  animation: scroll 25s linear infinite forwards;
  &:nth-child(1){
    animation-delay: calc(25s / 5 * (5 - 1) * -1);
  }
  &:nth-child(2){
    animation-delay: calc(25s /5 * (5 - 2) * -1);
  }
  &:nth-child(3){
    animation-delay: calc(25s /5 * (5 - 3) * -1);
  }
  &:nth-child(4){
    animation-delay: calc(25s /5 * (5 - 4) * -1);
  }
  &:nth-child(5){
    animation-delay: calc(25s /5 * (5 - 5) * -1);
  }
}
/* animation for inifinite side scrolling */
}
@keyframes scroll {
    0%{
    }
      100% {
        left: -300px ;
      }
    
  }
.team .container .sec-team .team-members  .scrolling:nth-child(2) .card{
  --color:var(--primary-color);
}
.team .container .sec-team .team-members .scrolling:nth-child(3) .card{
  --color:var(--yellow-color);
}
.team .container .sec-team .team-members .scrolling:nth-child(4) .card{
  --color:var(--good-color);
}
.team .container .sec-team .team-members .scrolling:nth-child(5) .card{
  --color:var(--error-color);
}
/*contact us  */
.contact-US{
  min-height: 90dvh;
  background-color: #f6f6f6;
  padding: 20px 0px;
  margin-top: 100px;
}
.contact-US .container{
  display: flex;
  flex-direction: column;
  gap: 5dvw;
}
.contact-US .container .sec-1{
  position: relative;
  /* width: 100%; */
  padding: 20px;
  .title{
    font-size: clamp(1rem,2dvw,1.6rem);
    font-weight: 400;
  }
  .description{
    font-size: clamp(2rem,4dvw,3.5rem);
    font-weight: 400;
    max-width: 80%;
    line-height: 1.2;
  }
}
.contact-US .container .sec-1 .social{
  position: absolute;
  right: min(20px ,5%);
  display: flex;
  flex-direction: column;
  min-height: 20dvh;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  li{
    border-radius: 50%;
    transition: 0.5s;
  }
}
.contact-US .container .sec-1 .social a.social-link{
  text-decoration: none;
  color: #111111;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 1px ;
  transition: 0.5s;
  i{
    font-size: 1.5rem;
  }
}
.contact-US .container .sec-1 .social li:nth-child(1):hover{
  background-color: #4267B2;
  a{color: white;}
}
.contact-US .container .sec-1 .social li:nth-child(2):hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  a{color: white;}

}
.contact-US .container .sec-1 .social li:nth-child(3):hover{
  background-color: #14171A;
  a{color: white;}
}
.contact-US .container .sec-2{
  width: 100%;
}
.contact-US .container .sec-2 form{
  display: flex;
  width: 100%;
  min-height: 60dvh;
  flex-direction: column;
  gap: 3dvw;
}
.contact-US .container .sec-2 #Contact-submit{
  max-width: 200px;
  padding: 20px 0px;
  border-radius: 18px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.contact-US .container .sec-2 .form-group{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1.5dvw;
  flex-direction: column;
  justify-content: center;
}
.contact-US .container .sec-2 .form-group .input-holder{
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}
.contact-US .container .sec-2 .form-group .input-holder{
  &:nth-child(1){
    grid-column: 1 / 7;
  }
  &:nth-child(2){
    grid-column: 7/13;
  }
  &:nth-child(3){
    grid-column: 1 / 7;
  }
  &:nth-child(4){
    grid-column: 7/13;
  }
  &:nth-child(5){
    grid-column: 1/13;
  }
}
.contact-US .container .sec-2 .form-group .area textarea{
  width: 90%;
  padding: 20px;
  min-height: 200px;
  border-radius: 24px;
  font-size: max(1rem,1.5vw);
  border: 1px solid var(--light-font-color);
  resize:vertical ;
}
.contact-US .container .sec-2 .form-group .input-holder label{
  font-size: max(1rem,1.5vw);
  color: var(--light-font-color);
}
.contact-US .container .sec-2 .form-group input{
  min-height: 50px;
  padding: 5px 20px;
  font-size: max(1rem,1.5vw);
  border-radius: 16px;
  width: 80%;
  border: 1px solid var(--light-font-color);
}

@media (width<=1024px ) {
  .team .container .sec-team{
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.team .container .sec-team .team-members{
  display: flex;
  flex-wrap: wrap;
  gap:10dvh 3dvw;
  justify-content: space-evenly;
  position: relative
}
.team .container .sec-team .team-members .scrolling .card{
  --color:#111;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--color);
  .image{
    width: 65%;
 max-height: 150px;
 border: 3px solid;
 border-radius: 30px;
 overflow: hidden;
 img{
   transition: 0.5s;
   width: 100%;
   height: 100%;
   &:hover{
     transform: scale(1.1) rotate(5deg);
   }
 }
}
&::before{
 content: "";
 position: absolute;
 width: 100%;
 height: 80%;
 background-color: #ebebeb;
 z-index: -1;
 bottom: -10%;
 border-radius: 30px;
}
}
  
}
/* profile */
.profile{
  min-height: 100dvh;
  margin-top: 80px;
}
  /* media */
  @media (max-width: 780px) {
    .home-section{
      background-size: cover;
      justify-content: center;
    background: linear-gradient( to bottom,  #79B2F3 0%, #4594EF 100%);
  }
  .home .container .sec-1 .title{
    color: #fff;
  }
  .home .container .sec-1 .message{
    color: #f5f5f5;
  }
    .home-section .container{
      grid-template-columns: 1fr;
      grid-template-rows: 300px ;
    }
    .home-section .container .sec-2 {
      display: none;
      transform: scale(0.8);
      .images{
        justify-content: center;
        align-items: start;
      }
    }
    .home-section .container .sec-1 {
      margin: 0 auto;
      margin-top: 80px;
      min-height: 70dvh;
      transform: scale(0.9);
      width: clamp(300px,60% ,100dvw);
      .dicover{
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
    }
    /* about us */
    .about-us .container{
      flex-direction: column;
    }
    .about-us .container .sec-1{
      width: 100%;
    }
    .about-us .container .sec-1 .image{
      max-width: 400px;
      margin-right: auto;
    }
    /* idintify */
    .idintify .container .sec-2 .content .description{
      width: 90%;
    }
    .idintify .container .sec-2 .content .search{
      width: 90%;
      gap: 10px;
      .search-input{
        grid-column: 1/8;
      }
      img{
        grid-column: 8/9;
      }
      .search-btn{
        grid-column: 9/13;
      }
    }
    .team .container .sec-mission .back-lay{
      width: 90%;
    }
    .team .container .sec-mission .back-lay .description{
      width: 90%;
      font-size: clamp(0.8rem,4dvw,1.1rem);
    }
    .contact-US .container .sec-2 #Contact-submit{
      margin: 20px 0% 10px 10%;
    }
    .contact-US .container .sec-2 .form-group .input-holder{
      width: 90% ;
      &:nth-child(1){
        grid-column: 2/ 13;
      }
      &:nth-child(2){
        grid-column: 2/ 13;
      }
      &:nth-child(3){
        grid-column: 2/ 13;
      }
      &:nth-child(4){
        grid-column: 2/ 13;
      }
      &:nth-child(5){
        grid-column: 2/ 12;
      }
    }
  }
  @media (max-width: 600px){
    .idintify .container .testimonials .card {
      width: 80%;
    }
    .team .pointer{
      width:60px;
    }
    .social {
      transform: scale(0.9);
    }
  }
  @media (max-width: 500px){
    .idintify .container .sec-2 .content .search{
      width: 90%;
      max-height: fit-content;
      height: fit-content;
      .search-input{
        grid-column: 1/13;
        font-size: 16px;
        padding: 0 5px;
      }
      img{
        grid-column: 2/6;
      }
      .search-btn{
        grid-column: 7/13;
      }
    }
    .contact-US .container .sec-2 .form-group .input-holder{
      grid-column: 1/13;
      width: 100%;
    }

  }